<div class=" container">
  <span style="background:#DDDDDD"><%= @customer.first_name+@customer.last_name %>さんのマイページ</span><br>
  <%= link_to "登録情報の編集", edit_information_path(current_customer), class:'btn btn-info' %>
  <div class="row">
    <table>
      <tr style="height:80px;">
        <th style="width:200px;">氏名</th>
        <td><%= @customer.first_name+"　"+@customer.last_name%></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div>

  <%= link_to "イベント一覧", events_path, class: 'btn btn-warning' %>
  <%= link_to "アルバム一覧", albums_path, class: 'btn btn-warning' %>

</div>