<div class="container">
  <span class="sub-title"><%= @event.title %>のイベント情報編集</span>

  <%= form_with model: @event, url: event_path(@event.id) do |f| %>
  <div class="row">
    <table class="table table-hover table-inverse">
      <tr>
        <th>イベント名</th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th>開催日時</th>
        <td><%= f.datetime_select :start_time %></td>
      </tr>
      <tr>
        <th>終了日時</th>
        <td><%= f.datetime_select :end_time %></td>
      </tr>
      <tr>
        <th>行き先</th>
        <td><%= f.text_field :place %></td>
      </tr>
      <tr>
        <th>集合場所</th>
        <td><%= f.text_field :meet_place %></td>
      </tr>
      <tr>
        <th>主催者</th>
        <td><%= @event.customer.first_name+@event.customer.last_name %></td>
      </tr>
    </table>
  </div>

  <span class="sub-title">参加状況編集</span>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>名前</th>
        <th>参加状況</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.customer.first_name+guest.customer.last_name %></td>
        <td><%= guest.status_i18n %></td>
        <td><%= link_to "編集する", edit_event_guest_path(@event.id,guest.id), class: 'btn btn-info' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit "変更を保存", class: 'btn btn-success' %>
  <%= link_to "削除", event_confirm_path, class: 'btn btn-danger' %>
  <% end %>

</div>