<div class="container">
  <span class="sub-title"><%= @event.title %>のイベント情報編集</span></br>
  <% if @event.errors.any? %>
    <%= @event.errors.count %>件のエラーが発生しました<br>
    内容を修正してください
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @event, url: event_path(@event.id) do |f| %>
  <div class="row">
    <div class="col-10">
      <table>
        <tr>
          <th>イベント名</th>
          <td><%= f.text_field :title %></td>
          <td></td>
        </tr>
        <tr>
          <th>開催日時</th>
          <td><%= f.datetime_select :start_time, {}, {class: 'select-field'} %></td>
          <td></td>
        </tr>
        <tr>
          <th>終了日時</th>
          <td><%= f.datetime_select :end_time, {}, {class: 'select-field'} %></td>
          <td></td>
        </tr>
        <tr>
          <th>行き先</th>
          <td><%= f.select :place_id, options_from_collection_for_select(@places, :id, :name, { selected: @event.place_id }), {}, {class: 'select-field'} %></td>
          <td></td>
        </tr>
        <tr>
          <th>集合場所</th>
          <td><%= f.text_field :meet_place %></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <table>
        <tr>
          <th>参加者</th>
          <td></td>
        </tr>

      </table>
      <div>
        <% @event.guests.each do |guest| %>
          <%= f.fields_for "guest[]", guest do |form| %>
            <table>
              <tr>
                <th></th>
                <td class="guest-name">
                  <%= guest.customer.first_name+' '+guest.customer.last_name %>
                </td>
                <td>
                  <div style="display:inline-block">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :status, :participation %>
                      <%= form.label :status, "　参加" %>
                    </div>
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :status, :no_join %>
                      <%= form.label :status, "　不参加" %>
                    </div>
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :status, :waiting %>
                      <%= form.label :status, "　選択中" %>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          <% end %>
        <% end %>
        <div id="detail-association-insertion-point"></div>
      </div>
      <%= link_to_add_association "参加者の追加", f, :guests, class: 'btn btn-outline-info',data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'prepend'
        } %>
    </div>
  </div>
  <div style="margin-top:10px; margin-bottom:50px;">
    <%= f.submit "変更を保存", class: 'btn btn-success' %>
    <%= link_to "イベント削除", event_confirm_path, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>