<div class="container">
  <span class="sub-title"><%= @customer_name %>さんのイベント一覧</span>
  <div class="row">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>開催日</th>
          <th>時間</th>
          <th>イベント名</th>
          <th>参加人数</th>
          <th>主催者</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td><%= event.start_time.strftime("%Y/%m/%d (%a)") %></td>
          <td><%= event.start_time.strftime("%H:%M") %>〜<%= event.end_time.strftime("%H:%M") %></td>
          <td><%= link_to event.title, event_path(event.id) %></td>
          <td><%= event.guests.where.not(status: 2).count %>人</td>
          <td><%= event.customer.first_name+event.customer.last_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @events %>
  </div>
</div>