<div class="container">
  <span class="sub-title">イベントの新規作成</span><br>
  <% if @event.errors.any? %>
    <%= @event.errors.count %>件のエラーが発生しました<br>
    内容を修正してください
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <%= form_with model: @event, url: events_path do |f| %>
    <table style="margin:30px;">
      <tr>
        <th>イベント名</th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th>開催日時</th>
        <td><%= f.datetime_select :start_time, {}, {class: 'select-field'} %></td>
      </tr>
      <tr>
        <th>終了日時</th>
        <td><%= f.datetime_select :end_time, {}, {class: 'select-field'} %></td>
      </tr>
      <tr>
        <th>行き先</th>
        <td>
          <%= f.hidden_field :place_id %>
          <input type="text" autocomplete="on" list="place" id="datalist">
           <datalist id="place">
    　　      <% Place.all.each do |place| %>
              <option class="option_place"><%= place.name %></option>
            <% end %>
           </datalist><br>
        </td>
      </tr>
      <tr>
        <th>待ち合わせ場所</th>
        <td><%= f.text_field :meet_place %></td>
      </tr>
      <tr>
        <th>参加者</th>
        <td>
          <div>
            <%= f.fields_for :guests do |form| %>
              <%= render "public/events/guest_fields", f: form, customers: @customers  %>
              <div id="detail-association-insertion-point"></div>
            <% end %>

           <%= link_to_add_association "追加", f, :guests, class: 'btn btn-outline-info',data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'before'
          } %>

          </div>
        </td>
      </tr>
    </table>

  </div>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.submit "予定を作成する", class: 'btn btn-success' %>
  <% end %>
</div>


<script>
$("#datalist").bind('input', function () {
  $("#event_place_id").val(this.value)
});
</script>