<div class="container">
  <span class="sub-title">イベントの新規作成</span>
  <div class="row">
    <%= form_with model: @event, url: events_path do |f| %>

    <table style="margin:30px;">
      <tr>
        <th>イベント名</th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th>開催日時</th>
        <td><%= f.datetime_select :start_time %></td>
      </tr>
      <tr>
        <th>終了日時</th>
        <td><%= f.datetime_select :end_time %></td>
      </tr>
      <tr>
        <th>行き先</th>
        <td><%= f.text_field :place %></td>
      </tr>
      <tr>
        <th>待ち合わせ場所</th>
        <td><%= f.text_field :meet_place %></td>
      </tr>
      <tr>
        <th>参加者</th>
        <td>
          <div>
            <%= f.fields_for :guests do |form| %>
              <%= render "public/events/guest_fields", f: form %>
              <div id="detail-association-insertion-point"></div>
            <% end %>

           <%= link_to_add_association "追加", f, :guests, class: 'btn btn-outline-info',data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'before'
          } %>

          </div>
        </td>
      </tr>
    </table>

  </div>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.submit "予定を作成する", class: 'btn btn-success' %>
  <% end %>
</div>