<div class="container">
  <span class="sub-title"><%= @event.title %>のイベント詳細</span>
  <div class="row">
    <table style="margin:20px 0 50px;">
      <tr>
        <th>イベント名</th>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <th>開催日</th>
        <td><%= @event.start_time.strftime("%Y/%m/%d (%a)") %></td>
      </tr>
      <tr>
        <th>時間</th>
        <td><%= @event.start_time.strftime("%H:%M") %>〜<%= @event.end_time.strftime("%H:%M") %></td>
      </tr>
      <tr>
        <th>行き先</th>
        <td><%= @event.place.name %></td>
      </tr>
      <tr>
        <th></th>
        <td><div id="map"></div></td>
      </tr>
      <tr>
        <th>集合場所</th>
        <td><%= @event.meet_place %></td>
      </tr>
      <tr>
        <th>主催者</th>
        <td><%= @event.customer.first_name+' '+@event.customer.last_name %></td>
      </tr>
    </table>
  </div>

  <%= link_to "参加者一覧", event_guests_path, class: 'btn btn-success' %>
  <% if @event.customer_id == current_customer.id %>
    <%= link_to "編集する", edit_event_path(@event.id), class: 'btn btn-info' %>
  <% end %>

  <!--コメント新規投稿-->
  <div style="margin-top:30px">
  <%= form_with model: [@event, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', cols: "50", placeholder: 'コメントを入力してください' %><br>
    <%= f.submit "送信する" %>
  <% end %>
  </div>
  <br>

  <!--コメント表示-->
  <% @comments.each do |comment| %>
  <div class="comment-field">
    <div class="comment-status">
      <%= comment.customer.first_name+comment.customer.last_name %>
      <%= comment.created_at.strftime('%Y/%m/%d  %H:%M') %><br>
    </div>
    <%= comment.comment %>
    <div class="comment-status">
    <% if comment.customer == current_customer %>
      <%= link_to "削除", event_comment_path(comment.event, comment), method: :delete, "data-confirm" => "削除しますか？" %>
    <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @comments %>

</div>

<!--googlemap実装記述-->
<style>
#map {
  height: 250px;
  width: 400px;
}
</style>
<script>
  function initMap() {

    var uluru = {lat: <%= @event.place.latitude %>, lng: <%= @event.place.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
    console.log('test', map)
       }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>&callback=initMap"async defer></script>