<div class="container">
  <span style="background:#DDDDDD"><%= @event.title %>のイベント詳細</span>
  <div class="row">
    <table>
      <tr>
        <th>イベント名</th>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <th>開催日</th>
        <td><%= @event.date %></td>
      </tr>
      <tr>
        <th>時間</th>
        <td><%= @event.start_time %>〜<%= @event.end_time %></td>
      </tr>
      <tr>
        <th>行き先</th>
        <td><%= @event.place %></td>
      </tr>
      <tr>
        <th>集合場所</th>
        <td><%= @event.meet_place %></td>
      </tr>
      <tr>
        <th>主催者</th>
        <td><%= @event.customer.first_name+@event.customer.last_name %></td>
      </tr>
    </table>
  </div>
</div>