<div class="container">
  <span class="sub-title"><%= @event.title %>のイベント詳細</span>
  <div class="row">
    <table style="margin:20px 0 50px;">
      <tr>
        <th>イベント名</th>
        <td><%= @event.title %></td>
        <td></td>
      </tr>
      <tr>
        <th>開催日</th>
        <td><%= @event.start_time.strftime("%Y/%m/%d (%a)") %></td>
        <td></td>
      </tr>
      <tr>
        <th>時間</th>
        <td><%= @event.start_time.strftime("%H:%M") %>〜<%= @event.end_time.strftime("%H:%M") %></td>
        <td></td>
      </tr>
      <tr>
        <th>行き先</th>
        <td><%= @event.place.name %></td>
        <td></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @event.place.address %></td>
        <td><div id="map"></div></td>
      </tr>
      <tr>
        <th>集合場所</th>
        <td><%= @event.meet_place %></td>
        <td></td>
      </tr>
      <tr>
        <th>主催者</th>
        <td><%= @event.customer.first_name+@event.customer.last_name %></td>
        <td></td>
      </tr>
    </table>
  </div>

  <%= link_to "参加者一覧", event_guests_path, class: 'btn btn-success' %>
  <% if @event.customer_id == current_customer.id %>
    <%= link_to "編集する", edit_event_path(@event.id), class: 'btn btn-info' %>
  <% end %>

  <div style="margin-top:30px">
  <%= form_with model: [@event, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', cols: "50", placeholder: 'コメントを入力してください' %><br>
    <%= f.submit "送信する" %>
  <% end %>
  </div>
  <br>

  <% @event.comments.each do |comment| %>
  <div class="comment-field">
    <div class="comment-status">
      <%= comment.customer.first_name+comment.customer.last_name %>
      <%= comment.created_at.strftime('%Y/%m/%d  %H:%M') %><br>
    </div>
    <%= comment.comment %>
    <div class="comment-status">
    <% if comment.customer == current_customer %>
      <%= link_to "削除", event_comment_path(comment.event, comment), method: :delete, "data-confirm" => "削除しますか？" %>
    <% end %>
    </div>
  </div>
  <% end %>

</div>

<script type="text/javascript">
  function initMap() {
    var test ={lat: <%= @event.place.latitude %>, lng: <%= @event.place.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @event.place.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=SECRET_KEY&callback=initMap">
</script>
