<div class="container">
  <span class="sub-title"><%= @event.title %>の予定情報編集</span></br>
  <% if @event.errors.any? %>
    <%= @event.errors.count %>件のエラーが発生しました<br>
    内容を修正してください
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @event, url: admin_event_path(@event.id) do |f| %>
  <div class="row">
    <div class="col-10">
      <table>
        <tr>
          <th>予定名</th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th>開催日時</th>
          <td><%= f.datetime_select :start_time, {}, {class: 'select-field'}  %></td>
        </tr>
        <tr>
          <th>終了日時</th>
          <td><%= f.datetime_select :end_time, {}, {class: 'select-field'}  %></td>
        </tr>
        <tr>
          <th>行き先</th>
          <td><%= f.select :place_id, options_from_collection_for_select(@places, :id, :name, { selected: @event.place_id }), {}, {class: 'select-field'}  %></td>
          <td></td>
        </tr>
        <tr>
          <th>集合場所</th>
          <td><%= f.text_field :meet_place %></td>
          <td></td>
        </tr>
        <tr>
          <th>主催者</th>
          <td><%= @event.customer.name %></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <table>
        <tr>
          <th>参加者</th>
          <td></td>
        </tr>
        <% @guests.each do |guest| %>
        <tr>
          <th></th>
          <td class="guest-name">
            　<%= guest.customer.first_name+' '+guest.customer.last_name %>
          </td>
          <td>
            <div style="display:inline-block">
              <div class="form-check form-check-inline">
                <%= f.radio_button "#{guest.id}_status".to_sym, :participation %>
                <%= f.label "#{guest.id}_status".to_sym, "　参加" %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button "#{guest.id}_status".to_sym, :no_join %>
                <%= f.label "#{guest.id}_status".to_sym, "　不参加" %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button "#{guest.id}_status".to_sym, :waiting %>
                <%= f.label "#{guest.id}_status".to_sym, "　選択中" %>
              </div>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div style="margin-top:10px; margin-bottom:50px;">
    <%= f.submit "変更を保存", class: 'btn btn-success' %>
    <%= link_to "削除", admin_event_confirm_path, class: 'btn btn-danger' %>
  </div>
  <% end %>
</div>