<div class="container">
  <span class="sub-title"><%= @event.title %>の予定詳細</span></br>
  <div class="row">
    <div class="col-10">
    <table>
      <tr>
        <th>予定名</th>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <th>開催日</th>
        <td><%= @event.start_time.strftime("%Y/%m/%d (%a)")%></td>
      </tr>
      <tr>
        <th>時間</th>
        <td><%= @event.start_time.strftime("%H:%M") %>〜<%= @event.end_time.strftime("%H:%M") %></td>
      </tr>
      <tr>
        <th>行き先</th>
        <td><%= @event.place.name %></td>
      </tr>
      <tr>
        <th>集合場所</th>
        <td><%= @event.meet_place %></td>
      </tr>
      <tr>
        <th>主催者</th>
        <td><%= @event.customer.name %></td>
      </tr>
    </table>
    </div>

    <div class="col-8">
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>参加者名</th>
          <th>参加状況</th>
        </tr>
      </thead>
      <tbody>
        <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.customer.first_name+' '+guest.customer.last_name %></td>
          <td><%= guest.status_i18n %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>

  </div>
  <%= link_to "編集する", edit_admin_event_path(@event.id), class: 'btn btn-info' %>
  <%= link_to "戻る", admin_events_path, class: 'btn btn-success' %>
</div>