<div style="text-align:center; margin-top:20px;">
  <h5>ようこそ <%= current_customer.first_name %>さん！</h5>
</div>

<div class="today-area">
  <div class="today-event sub-title">　　 本日のイベント　</div>
  <ul>
    <% @events.each do |event| %>
      <% if event.start_time.to_date == Date.today %>
        <li><%= event.title %></li>
      <% end %>
    <% end %>
  </ul>
</div>


<div style="margin:30px">
<div style="font-family:メイリオ, Meiryo;">
  <div style="text-align:right;">
  <%= link_to "新規イベントの作成", new_event_path, class: 'btn btn-outline-primary' %>
  </div>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
</div>

<!--カレンダー上の表示-->
  <div class="container">
    <div class="row">
      <div style="height:150px; width:120px;">
        <% events.each do |event| %>
          <li style="list-style:none;">
          <%= link_to event.title, event_path(event.id) %><br>
          <%= event.start_time.strftime("%H:%M") %><span>〜</span><%= event.end_time.strftime("%H:%M") %>
          </li>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>