<div class="container">
  <span class="sub-title"><%= @customer.first_name+' '+@customer.last_name %>さんの会員詳細</span></br>
  <div class="row">
    <table>
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>名前</th>
        <td><%= @customer.first_name+' '+@customer.last_name %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <td>
          <% if @customer.is_deleted == true %>
            <span class="status-deleted">退会</span>
          <% else %>
            <span class="status-hold">有効</span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-info' %>
  <%= link_to "戻る", admin_customers_path, class: 'btn btn-success' %>
</div>