<div class="container">
  <span class="sub-title">行き先一覧</span>
  <div class="row">
    <div class="col-12" style="text-align:right; font-size:2em;">
      <%= link_to new_admin_place_path do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
    <table class="table table-hover table-inverse" style="margin:20px;">
      <thead>
        <tr>
          <th style="width:25%;">行き先</th>
          <th style="width:45%;">住所</th>
          <th style="width:15%;"></th>
          <th style="width:15%;"></th>
        </tr>
      </thead>
      <tbody>
        <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.address %></td>
          <td><%= link_to "編集", edit_admin_place_path(place.id), class: 'btn btn-info' %></td>
          <td><%= link_to "削除", admin_place_path(place.id), method: :delete, class:'btn btn-danger', "data-confirm" => "削除しますか？" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
     <%= paginate @places %>
  </div>
</div>