<div class="container">
  <h3><strong>ログイン</strong></h3>
  <div class="row">
    <%= form_with model:@customer, url: customer_session_path do |f| %>
    <div style="margin:30px;">
      <span style="background:#DDDDDD">会員の方はこちらからログイン</span><br>
      <table>
        <tr style="height:80px;">
          <th style="width:200px;">メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %> </td>
        </tr>
        <tr>
          <th>パスワード</th>
         <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="actions" style="text-align:center;">
    <%= f.submit "ログイン", class: 'btn btn-info' %>
  </div>

    <% end %>
  <div style="margin:30px;">
    <span style="background:#DDDDDD">会員登録がお済みでない方</span><br>
    <span><%= link_to "こちら", new_customer_registration_path %>から新規登録を行なってください</span>
  </div>
</div>

