<div class="container">
  <div class="row">
    <%= form_with model:@customer, url: customer_session_path do |f| %>
    <div style="margin:30px;">
      <span class="sub-title">会員の方はこちらからログイン</span><br>
      <table>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %> </td>
        </tr>
        <tr>
          <th>パスワード</th>
         <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </table>
    </div>
    <div class="actions" style="text-align:center;">
      <%= f.submit "ログイン", class: 'btn btn-info' %>
    </div>
  </div>

    <% end %>
  <div style="margin:30px;">
    <span class="sub-title">会員登録がお済みでない方</span><br>
    <div>　→ <%= link_to "こちら", new_customer_registration_path, class: 'session-link' %>から新規登録を行なってください</div>
  </div>
</div>

