<!DOCTYPE html>
<html>
  <head>
    <title>ShareRaku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a href="/">シェアらく</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul  class="navbar-nav ml-auto">
              <% if current_admin %>
                <li class="nav-item">
                  <%= link_to "イベント一覧", admin_events_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "コメント一覧", admin_comments_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path,  method: :delete, class: 'btn btn-outline-dark' %>
                </li>

              <% elsif customer_signed_in? %>
                <span>ようこそ<%= current_customer.first_name %>さん！</span>
                <li class="nav-item">
                  <%= link_to "Home", homes_top_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", my_page_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "イベント一覧", events_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path,  method: :delete, class:'btn btn-outline-dark' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "About", root_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-dark' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
